@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    width: 414px;
    height: 850px;
    background-color: #E5E5E5;
}

h1{
    font-family: 'Righteous', cursive;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
}

span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333333;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #A6A6A6;
    font-size: 15px;
}

.topo{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 414px;
    height: 92px;
    background-color:#CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titulo{
    margin-left: 23px;
}
.titulo h1{
    font-size: 44px;
    color: #FFFFFF;
}
.titulo span{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.box-conteudos{
    margin-top: 120px;
    margin-left: 15px;
}

/*PEDIDOS DE PRATOS*/
.titulo-pratos{
    margin-bottom: 20px;
    font-size: 26px;
    color: #333333;
}

.box-pratos-comidas{
    width: 100%;
    margin-bottom: 20px;
}

.box-conteudo-pratos{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.box-conteudo-pratos::-webkit-scrollbar {
    display: none;
}

.box-prato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 15px;
}

.box-prato img{
    margin-bottom: 10px;
}
.box-prato p{
    margin: 10px 0px;
}

.selecionado{
    box-sizing: border-box;
    border: 4px solid #32B72F;
    border-radius: 9px;
}

.box-prato:hover{
    cursor: pointer;
    background-color: rgb(221, 219, 219);
}

/*PEDIDOS DE BEBIDAS*/

.titulo-bebidas{
    margin-top: 15px;
    font-size: 26px;
    color: #333333;
}
.box-info-bebidas{
    width: 100%;
    margin-top: 20px;
}

.box-conteudo-bebidas{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.box-conteudo-bebidas::-webkit-scrollbar {
    display: none;
}

.box-bebidas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 15px;
}
.box-bebidas img{
    margin-bottom: 10px;
}
.box-bebidas p{
    margin: 10px 0px;
}

.box-bebidas:hover{
    cursor: pointer;
    background-color: rgb(221, 219, 219);
}


/*PEDIDOS DE SOBREMESAS*/
.titulo-sobremesas{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 26px;
    color: #333333;
}

.box-info-sobremesas{
    width: 100%;
    margin-bottom: 40px;
}

.box-conteudo-sobremesas{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.box-conteudo-sobremesas::-webkit-scrollbar {
    display: none;
}

.box-sobremesas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 15px;
}
.box-sobremesas img{
    margin-bottom: 10px;
}
.box-sobremesas p{
    margin: 10px 0px;
}

.box-sobremesas:hover{
    cursor: pointer;
    background-color: rgb(221, 219, 219);
}


/*FINALIZAR PEDIDO*/

.finalizar-pedido{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    background-color: #FFFFFF;
    left: 0px;
    width: 414px;
    height: 92px;
}

.btn-finalizar-pedido{
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
}

.btn-finalizar-pedido.habilitar{
    background:#32B72F;
    color: #FFFFFF;
}